@import url("https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',
    sans-serif;
}
body {
  font-size: 10px;
  height: 100%;
  line-height: 1;
  background: #64cfff;
}

span{
  font-size: 10px;
}
.form {
  max-width: 550px;
  margin: 0 auto;
  color:#fff;
  padding: 30px 0;}
.form *{
  outline: none;
}

.form__body{
  position: relative;
}
.form__body::after {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/Loading.gif') center / cover no-repeat;
  opacity: 0;
  visibility: hidden;
}
/* _sending*/

.form__body._sending::after {
  opacity: 0.4;
  visibility: visible;
  transition: all 0.3s ease 0s;
}


.form__title {
  font-size: 25px;
  font-weight: 700;
  margin: 0px  0px 15px 0px;
}

.form__item {
  margin: 0px 0px 10px 0px;
}

.form__label {
  font-size: 14px;
  display: block;
  margin: 0px 0px 10px 0px;
}

.form__input {
  height: 50px;
  padding: 0px 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
}
.form__input:focus {
 box-shadow: 0 0 15px #7a956b;
}
.form__input.error {
  box-shadow: 0 0 15px red;
}

textarea.form__input {
 min-height: 40px;
 resize: vertical;
}


.options {
  padding: 10px 0px 0px 0px;
}
.options {
  padding: 0px 0px 10px 0px;
  
}
.options__input {
  display: none;
}
.options__input:checked +
.options__label::after {
  transform: scale(1);
}
.options__label {
  position: relative;
  display: inline-flex;
  font-size: 16px;
  line-height: 140%;
  align-items: center;
  cursor: pointer;
}
.options__label::before{
  content:'';
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 10px;
}
.options__label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: rgb(10, 29, 98);
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.3s ease 0s;
  }


.select {
  width: 100%;
}
.select2-search__field {
  display: none;
}

.select2-container--default .select2-selection--single {
  border: 1px ;
  border-radius: 4px;

}


.file__item {
  position: relative;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file__button {
  display: inline-flex;
  min-height: 40px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  background-color: #77608d;
  padding: 0px 20px;
}

.form__preview {
  display: inline-block;
  max-width: 100px;
  padding-top: 10px;
}
.form__preview img{
  display: inline-block;
  max-width: 100%;
}


.checkbox__input {
  display: none;
}

.checkbox__input:checked +
.checkbox__label::after {
  transform: scale(1);
}


.checkbox.error .checkbox__label::before {
  box-shadow: 0 0 15px red;
}

.checkbox__label{
  font-size: 16px;
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.checkbox__label::before {
  content: '';
  align-self: flex-start;
  flex:  0 0 24px; 
  height: 24px;
  background-color: #fff;border-radius: 4px;
  margin-right: 10px;
}
.checkbox__label::after {
  content: '';
  height: 16px;
  width: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color:#7a956b;
  border-radius:4px;
  transform: scale(0);
  transition: all 0.3s ease ;
}
.checkbox__label a{
  color: #7a956b;
}
.form__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  background-color: #7a956b;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color:#fff;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 5px 0 #0d0e0c;
  transition: background-color 0.5s ease;
  position: relative;
  top: 0;
  margin-bottom: 10px;
}
.form__button:hover {
  background-color: #4f6146;
}

.form__button:active {
  top: 3px;
  box-shadow: 0 2px 0 #0d0e0c;
}

label.error {
  color: #ff0000;
  font-weight: normal;
  margin: 20px;
  font-size: 14px;
}